body {
    background-color: #fff7ed;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.verse {
    font-size: 30px;
    margin: 0 40px;
}

p {
    margin: 0;
    text-align: end;
    padding-right: 40px;
}

footer {
    background-color: #451a03; /* Footer background color */
    color: #fff7ed; /* Footer text color */
    text-align: center;
    padding: 10px; /* Footer padding */
}

button {
    background-color: #451a03;
    color: #fff7ed;
    padding: 10px 20px;
    border-radius: 12px;
    margin: 20px;
    font-size: 20px;
}

.background-container {
    position: relative;
    width: 100%; /* Adjust width as needed */
    height: 400px; /* Set a height or use responsive techniques */
    background-image: url('imgs/pexels-life-of-pix-67468.png');
    background-size: cover; /* Ensure the image covers the container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image from repeating */
}
  
.overlay-text {
    position: absolute;
    top: 30%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to be centered */
    color: #fff7ed; /* Text color */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.8em;
    width: 66%; /* Adjust width as needed */
}
  