body {
    background-color: #fff7ed;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu {
    background-color: black;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: #451a03; /* Footer background color */
    color: #fff7ed; /* Footer text color */
    text-align: center;
    padding: 10px; /* Footer padding */
}

button {
    background-color: #451a03;
    color: #fff7ed;
    padding: 10px 20px;
    border-radius: 12px;
    margin: 20px;
    font-size: 20px;
}

.background-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.text {
    align-self: center;
    justify-self: center;
    font-size: 30px;
    padding-top: 20px;
}

p {
    text-align: end;
    margin: 0;
}

.background-img1 {
    position: relative;
    width: 100%; /* Adjust width as needed */
    height: 400px; /* Set a height or use responsive techniques */
    background-image: url('imgs/pexels-pixabay-33265.png');
    background-size: cover; /* Ensure the image covers the container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image from repeating */
    color: #fff7ed;
    font-size: .5em;
    text-align: end;
    border-radius: 10px;
}
  
.overlay-text {
    position: absolute;
    top: 30%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to be centered */
    color: #fff7ed; /* Text color */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 3.4em;
    width: 66%; /* Adjust width as needed */
}

.background-img2 {
    position: relative;
    width: 100%; /* Adjust width as needed */
    height: 400px; /* Set a height or use responsive techniques */
    background-image: url('imgs/pexels-marta-dzedyshko-1042863-7693953.png');
    background-size: cover; /* Ensure the image covers the container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image from repeating */
    color: #fff7ed;
    font-size: .5em;
    text-align: end;
    border-radius: 10px;
}